* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  list-style: none;
}

.eventCard__container.container {
  width: 100%;
}
.form__container.container {
  width: 80%;
}

.body__container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo__header {
  height: 200px;
  position: relative;
  top: -15px;
}

.logo__header > img {
  height: 110%;
}

/* FORM */
label {
  font-weight: bold;
  padding: 10px;
}

.input__textbox {
  border: solid 1px rgb(64, 0, 124);
  border-radius: 5px;
  height: 20px;
  padding: 2px 5px;
}

.form__heading {
  margin: 10px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 4px 25px -4px rgba(30, 30, 60, 0.25);
  margin-inline: 20px;
  padding: 20px;
  border-radius: 20px;
}

.form__middle > input {
  cursor: pointer;
}

.form__section {
  margin: 10px 0;
}

.addEvent__btn {
  cursor: pointer;
  width: auto;
  padding: 5px 10px;
  border: solid 1.5px white;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6adb7, #ffcdd9);
  box-shadow: 6px 6px 13px #c998a0, -6px -6px 13px #ffe8f6;
}

.allEvents__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
/* EVENT CARD */

.eventCard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px 4px 25px -4px rgba(30, 30, 60, 0.815);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #a251ffb9;

  opacity: 1;
  animation: fadeIn ease-in 1 0.5s;
}

.eventCard__date {
  padding: 20px 0 10px;
}

.eventCard__countdown {
  display: flex;
  padding: 20px 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.eventCard__countdown > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.event__delete__btn {
  background-color: pink;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  right: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.countdown__number {
  display: block;
  font-size: 1.5em;
}

/* MEDIA QUERY */

@media screen and (min-width: 630px) {
  .logo__header {
    top: -50px;
  }

  .logo__header > img {
    height: 160%;
  }

  .event__delete__btn {
    position: relative;
    right: -250px;
  }

  .container {
    max-width: 500px;
  }

  .eventCard__countdown {
    flex-wrap: unset;
  }

  .eventCard__countdown > li {
    margin: 0 20px;
  }
}
